<table class="table table-second">
    <tr>
        <th colspan="2" class="h1 text-center text-uppercase">Employee Detail</th>
    </tr>
    <tr>
        <th>Name</th>
        <td>{{ employee.name }}</td>
    </tr>
    <tr>
        <th>Birthday</th>
        <td>{{ dateFormat employee.birthday "DD/MM/YYYY" }}</td>
    </tr>
    <tr>
        <th>Gender</th>
        <td>{{ employee.gender }}</td>
    </tr>
    <tr>
        <th>Email</th>
        <td>{{ employee.email }}</td>
    </tr>
    <tr>
        <th>Introduce</th>
        <td>{{ employee.introduce }}</td>
    </tr>
    
</table>